<div class="card-trip">
  <img src="https://vignette.wikia.nocookie.net/rickandmorty/images/2/24/Butt_Dimension.jpg/revision/latest/scale-to-width-down/619?cb=20140412113601" />
  <div class="card-trip-infos">
    <div>
      <h2>Butt World Dimension</h2>
      <p>A dimension where everything is a butt</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://images.8tracks.com/avatar/i/009/500/209/cap00016-8781.png?rect=0,0,335,335&q=98&fm=jpg&fit=max" class="card-trip-user avatar-bordered" />
  </div>
</div>
