<div class ="navigation">
<ul id = "navigation-ul">
  <li class = "navigation-li"><a href="#">home</a></li>
  <li class = "navigation-li"><a href="#">my profile</a></li>
  <li class = "navigation-li"><a href="#">my bookings</a></li>
  <li class = "navigation-li"><a href="#">mind benders</a></li>
  <li class = "navigation-li"><a href="#">about</a></li>
</ul>

</div>