<img src="https://images.8tracks.com/avatar/i/009/500/209/cap00016-8781.png?rect=0,0,335,335&q=98&fm=jpg&fit=max" class="avatar-small"/>

<div class="avatar-rotation">
  <img src="https://images.8tracks.com/avatar/i/009/500/209/cap00016-8781.png?rect=0,0,335,335&q=98&fm=jpg&fit=max" class="avatar-large"/>
</div>

<br><br>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" name="fname" class="form-control"><br>
  <label for="lname">Review:</label><br>
  <textarea  class="form-control" name="message" placeholder="Describe your experience"></textarea>
</form>

<br>

<% 5.times do %>
 <a class="ratings"><i class="fas fa-meteor"></i></a>
<% end %>

<%# <%= render 'navigation'%>

<div class = "container">
  <%= render 'cards'%>
</div>
