<form>
  <label for="fname">First name:</label><br>
  <input type="text" name="fname" class="form-control"><br>
  <label for="lname">Review:</label><br>
  <textarea  class="form-control" name="message" placeholder="Describe your experience"></textarea>
</form>

<% 5.times do %>
 <a class="ratings"><i class="fas fa-meteor"></i></a>
<% end %>

<%= render 'navigation'%>

<div class = "container">
  <%= render 'cards'%>
</div>

