// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$spanish-green: #1A8D44;
$yellow-green: #8FC748;
$green-yellow: #D2E054;
$pacific-blue: #12B0C9;
$dark-khaki: #CEC075;
$bone: #D4CCBD;
$orange: rgb(221, 188, 1);
