<div class="container" style="margin-bottom: 50px">

  <h1 class="text-center title">Add a new Dimension</h1>

  <%= render 'form', dimension: @dimension %>

  <%= link_to "back to my listing", listings_path %>

</div>
