.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $bone;
  object-fit: cover;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px $pacific-blue;
  background-color: $bone;
  object-fit: cover;
}

.avatar-rotation {
  background-image: url('portal.png');
  background-size: cover;
  width: 200px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotation 5s linear infinite;
}

.avatar-rotation img {
  animation: blur 2s ease-in-out infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes blur {
  from {
    opacity: .8;
  }
  to {
    opacity: .3;
  }
}
