.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 0;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
}


@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
