@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.menu-bar {
  display: flex; 
  // background: rgba($color: #1A8D44, $alpha: 5.0);
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid $green-yellow;
  border-bottom: 3px solid $green-yellow;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation{
  width: 75%;
}

#navigation-ul {
  display: flex;
  align-items: start;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 0;

  .navigation-li {
    padding: 6px 0;

    a {
      // --stroke-color:#12B0C9;
      --fill-color: #D2E054; //webkit doesn't take scss variable I guess???  get's buggy...
      position: relative;
      display: block;
      padding: 4px 0;
      font: 700 2rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.5s linear;

      &:hover {
        background-size: 100%;
      }
    }
  }
}