.nav-item {
  color: inherit;
  font-size: 20px;
  position: inherit;
  top: 10px;
  right: 10px;
}

#login{
  position: absolute;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.menu-bar {
  display: flex; 
  background: rgba(0,0,0,.6);
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid $green-yellow;
  border-bottom: 3px solid $green-yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 75px;
  margin-top: 30px;
  position: sticky;
  top: 0px;
}

.navigation{
  width: 75%;
}

#navigation-ul {
  display: flex;
  align-items: start;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 0;

  .navigation-li {
    padding: 6px 0;

    a {
      // --stroke-color:#12B0C9;
      --fill-color: #D2E054; //webkit doesn't take scss variable I guess???  get's buggy...
      position: relative;
      display: block;
      padding: 4px 0;
      font: 700 2rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.5s linear;

      &:hover {
        background-size: 100%;
      }
    }
  }
}

.dropdown-menu {
  background: linear-gradient(rgba(89, 122, 128, 0.2),  rgba(18,176,201,1));
}

.dropdown-item {
  color: $green-yellow;
}


